@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta de cores do Gasify */
  --gasify-fundo: #e4dbd2;
  --gasify-verde-claro: #60a851;
  --gasify-verde: #377f33;
  --gasify-verde-escuro: #112410;
  --gasify-cinza-claro: #848484;
  --gasify-cinza: #525252;
  --gasify-preto: #1D1D1F;
}
